# Database Connection
TYPEORM_CONNECTION= #postgres
TYPEORM_HOST= #db
TYPEORM_USERNAME= #postgres
TYPEORM_PASSWORD= #root
TYPEORM_DATABASE= #db
TYPEORM_PORT= #5432
TYPEORM_SYNCHRONIZE= #false
TYPEORM_LOGGING= #true
TYPEORM_ENTITIES= #src/infra/adapter/database/entity/*.entity.ts
TYPEORM_ENTITIES_DIR= #src/infra/adapter/database/entity
TYPEORM_MIGRATIONS= #./migrations/*.ts
TYPEORM_MIGRATIONS_DIR= #./migrations

NODE_ENV= #development
BASEPATH= #api
PORT= #3000

